src/main/mule/delete-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="delete:\accounts\(ID):accounts-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="28a28880-7ecb-456a-9cf7-36301b565e3c">
            <ee:variables>
                <ee:set-variable variableName="ID"><![CDATA[attributes.uriParams.'ID']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<db:delete doc:name="delete-accounts" doc:id="d0123c8f-48f3-41ea-85e9-100f4285353a" config-ref="Database_Config">
			<db:sql><![CDATA[DELETE FROM `accountdb` WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	id: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:delete>
    
</flow>
	
	</mule>
