src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
<apikit:config name="accounts-api-config" api="accounts-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
<configuration-properties doc:name="Configuration properties" doc:id="b75c7ff0-f178-4d3a-a1e7-1f4eb45b8e80" file="properties/${env}.yaml" />
	<import doc:name="Import" doc:id="24fec8a3-91b8-4ef5-8d11-f62ccfe2868e" file="apisero-generic-error-handler.xml" />
	<configuration-properties doc:name="Configuration properties" doc:id="b57c5177-6e12-4420-92b2-5f9e102b05fe" file="properties\error-handler-local.yaml" />
	<configuration doc:name="Configuration" doc:id="69a5d25b-9991-4eeb-97d1-46a241b708de" defaultErrorHandler-ref="global_error_handler" />
	<flow name="accounts-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="accounts-api-config" />
    </flow>
    <flow name="accounts-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="accounts-api-config" />
    </flow>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c2399fb1-92c1-4284-ae3d-05956433ed69" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b49edb2b-7234-4a74-ac10-f0f3f6a73cf8" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" database="${db.database}" password="${db.password}"/>
	</db:config>
	<global-property doc:name="Global Property" doc:id="a2433a5f-9e48-4c80-a594-cbe9a8ad2d4e" name="env" value="dev" />
</mule>
