src/main/mule/post-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="post:\accounts:application\json:accounts-api-config">
		<db:insert doc:name="insert-account" doc:id="55774948-3809-4236-b738-ed588a3e40c6" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO `accountdb`(`id`, `firstName`, `lastName`, `dateOfBirth`, `gender`, `streetAddress`, `address2`, `city`, `state`, `zipCode`, `phone`, `phone2`, `emailAddress`, `accountStatus`) VALUES (:id, :firstName, :lastName, :dateOfBirth, :gender, :streetAddress, :address2, :city, :state, :zipCode, :phone, :phone2, :emailAddress, :status)]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	id: payload.id,
	firstName: payload.firstName,
	lastName: payload.lastName,
	dateOfBirth: payload.dateOfBirth,
	gender: payload.gender,
	streetAddress: payload.streetAddress,
	address2: payload.address2,
	city: payload.city,
	state: payload.state,
	zipCode: payload.zipCode,
	phone: payload.phone,
	phone2: payload.phone2,
	emailAddress: payload.emailAddress,
	status: payload.status
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Response Message" doc:id="8263c14f-9083-46b9-94a9-a5c8830e91a3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Account Created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

    </flow>
	
	</mule>
