src/main/mule/put-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="put:\accounts\(ID):application\json:accounts-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="c5878f3b-aab6-437d-80b2-4c2a89cb5115">
            <ee:variables>
                <ee:set-variable variableName="ID"><![CDATA[attributes.uriParams.'ID']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<db:update doc:name="Update-accounts" doc:id="73beb869-00f4-4d23-990c-385de5ffdae4" config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE `accountdb` SET `id`=:id,`firstName`=:firstName,`lastName`=:lastName,`dateOfBirth`=:dateOfBirth,`gender`=:gender,`streetAddress`=:streetAddress,`address2`=:address2,`city`=:city,`state`=:state,`zipCode`=:zipCode,`phone`=:phone,`phone2`=:phone2,`emailAddress`=:emailAddress,`accountStatus`=:status WHERE id = :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	id: attributes.uriParams.ID,
	firstName: payload.firstName,
	lastName: payload.lastName,
	dateOfBirth: payload.dateOfBirth,
	gender: payload.gender,
	streetAddress: payload.streetAddress,
	address2: payload.address2,
	city: payload.city,
	state: payload.state,
	zipCode: payload.zipCode,
	phone: payload.phone,
	phone2: payload.phone2,
	emailAddress: payload.emailAddress,
	status: payload.status
}]]]></db:input-parameters>
		</db:update>
    
</flow>
	
	</mule>
